.bg {
  background: linear-gradient(
    180deg,
    #f1f1f1 0%,
    #f0f2f1 16.25%,
    #ebedec 43.26%,
    #e6e8e7 72.5%,
    #dee2e1 100%
  );
  background-image: url("../img/flowers.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  &__price {
    background: url(../img/price.png);
    background-repeat: no-repeat;
    background-position-x: -2px;
    background-position-y: 48px;
  }
  &__about {
    background: url(/img/bgAbout.png);
    background-repeat: no-repeat;
    background-position-x: 14px;
    background-position-y: -104px;
  }
  &__comfort {
    background-image: url(/img/bg__comfort.png);
    background-repeat: no-repeat;
    background-position: right;
  }
  &__clients {
    background: url(/img/clients-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 104px;
  }
}
@media screen and (max-width: 1440px) {
  .bg {
    background-image: url(/img/flowers-mob.png);
    background-repeat: no-repeat;
    background-position: bottom;
    &__price {
      background-image: url(/img/bg__price-mobile.png);
      background-position-x: 23px;
      background-position-y: 185px;
    }
    &__comfort {
      background: none;
    }
  }
}
