.bg {
  background: linear-gradient(
    180deg,
    #f1f1f1 0%,
    #f0f2f1 16.25%,
    #ebedec 43.26%,
    #e6e8e7 72.5%,
    #dee2e1 100%
  );
  background-image: url("../img/flowers.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
