.btn {
  font-family: "Ruberoid";
  color: white;
  font-size: 15px;
  background: #5ccd6a;
  box-shadow: 0px 0px 0px 10px rgba(120, 192, 129, 0.25);
  border: none;
  border-radius: 17px;
  padding: 19px 42px;
  &:hover {
    background: #54e165;
  }
  &:active {
    background: #5ccd6a;
  }
}
