footer {
  background: url(/img/bg__footer.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer {
  display: flex;
  padding-top: 86px;
  justify-content: space-between;
  padding-bottom: 94px;
  h1 {
    font-size: 26px;
  }
  &__form {
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      button {
        margin-top: 25px;
      }
      h1 {
        padding-bottom: 5px;
      }
    }
    input {
      background: #ffffff;
      box-shadow: 0px 0px 10px rgba(73, 93, 76, 0.1);
      border-radius: 15px;
      font-size: 14px;
      padding: 16px 0 16px 20px;
      max-width: 100%;
      color: #7ca381;
      border: none;
    }
  }
  &__info {
    max-width: 406px;
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #7ca381;
      margin-top: 35px;
      padding-bottom: 25px;
      margin-bottom: 35px;
      border-bottom: 1px solid #78c081;
    }
    h4 {
      font-family: "Ruberoid";
      font-size: 18px;
      line-height: 24px;
      color: #495d4c;
      span {
        color: #78c081;
        font-size: 22px;
      }
    }
  }
  &__contacts {
    div {
      display: flex;
      gap: 15px;
      span {
        padding-left: 0;
      }
      &:first-child {
        margin-top: 24px;
        max-width: 127px;
        span {
          max-width: 127px;
        }
      }
      &:last-child {
        span {
          max-width: 184px;
        }
      }
      margin-top: 15px;
    }
    li {
      display: flex;
      list-style-type: none;
      align-items: center;
      padding: 15px 0 15px 0;
      border-bottom: 1px solid #bee1c2;
      border-radius: 0.5px;
    }
    span {
      font-size: 16px;
      line-height: 24px;
      color: #7b897d;
      padding-left: 15px;
    }
  }
}
@media screen and (max-width: 1440px) {
  .footer {
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    &__info {
      svg {
        max-width: 212px;
      }
    }
  }
}
