.header {
  padding: 19px 45px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.1s;
  .btn {
    box-shadow: 0px 0px 0px 10px rgb(255 255 255 / 45%);
  }
  &__scroll {
    margin-left: 4px;
    padding-bottom: 30px;
    position: fixed;
    gap: 192px;
    background: #d9fadd;
    z-index: 3;
    border-radius: 0px 0px 70px 70px;
  }
}
