.portfolio {
  &__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 47px;
    p {
      font-size: 16px;
      line-height: 26px;
      max-width: 641px;
      color: #848484;
    }
  }
  &__none {
    display: none;
  }
  &__btns {
    display: flex;
    gap: 37px;
    button {
      border: none;
      background: none;
    }
  }
  &__line {
    display: flex;
    gap: 30px;
    transition: ease 0.4s;
  }
  &__slider {
    overflow: hidden;
  }
  &__img {
    position: relative;
    h3 {
      font-family: "Ruberoid";
      font-size: 24px;
      line-height: 34px;
      color: #ffffff;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #ffffff;
    }
  }
  &__slider {
    margin-top: 35px;
  }
  &__text {
    position: absolute;
    bottom: 45px;
    left: 40px;
  }
  &__logo {
    left: 0;
    top: 35px;
    position: absolute;
    background: #d9fadd;
    border-radius: 0px 15px 15px 0px;
    padding: 10px 30px 10px 40px;
  }
  &__svg {
    &--active {
      box-shadow: 0px 0px 0px 6px #78c081;
      border-radius: 24px;
    }
    &--not-active {
      box-shadow: 0px 0px 0px 6px #ffffff;
      border-radius: 24px;
    }
  }
}
@media screen and (max-width: 1440px) {
  .portfolio {
    &__btns {
      justify-content: center;
    }
    &__title {
      flex-wrap: wrap;
      gap: 25px;
    }
    &__carousel {
      display: flex;
      gap: 20px;
      flex-direction: column-reverse;
    }
  }
}
