@import "./fonst/proxima.scss";
@import "./fonst/ruberoid.scss";
@import "bg";
@import "header";
@import "nav";
@import "btn";
@import "container";
@import "main";
@import "services";
@import "price";
@import "modal";
@import "steps";
@import "baner";
@import "about";
@import "comfort";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Proxima Nova Cn Lt", sans-serif;
  font-style: normal;
}
h1 {
  font-family: "Ruberoid";
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  color: #495e4c;
}
